<%- include('./partials/header')%>

  <div
    class="profileHeading flex-col gap-2 text-black/80 w-full h-screen bg-black/10 p-[0.1px] flex justify-center items-center">
    <h1 class="text-7xl font-bold "> WELLCOME
      <%= user.username.toUpperCase()%>...
    </h1>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquid praesentium</p>

  </div>











  <%- include('./partials/footer')%>